*{
    background-color: #0000004d;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #fcfeff;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 420px;
    width: 470px;
    margin: auto;
    background-color: #000000;
}

.display-box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #dcdbe1;
    border: solid black 1px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 75%;
}

#btn {
    background-color: #cf2e06;
}

input[type=button] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #655e6b;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 80%;
    outline: none;
}

input:active[type=button] {
    background: #534646;
}